:root {
    --primery-text-color: #212121;
    --secendery-text-color: #757575;
    --accent-color: #2196F3;
    --white: #FFFFFF;
    --card-item-gap: 30px;
    --section-padding-gap: 94px;
    --title-margin-bottom: 50px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

a {
    color: currentColor;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo {
    text-decoration: none;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

}

.logo-color {
    color: var(--accent-color);
}

.list {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #212121;
}

.link {
    text-decoration: none;
}

/* ------------HEADER-------------- */

.site-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-link {
    color: #212121;
}

.site-nav .link.current {
    color: var(--accent-color);
}

.header-link:hover,
.header-link:focus,
.contact:hover,
.contact:focus {
    color: var(--accent-color);
}

.contact {
    color: var(--secendery-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus,
.contact:hover,
.contact:focus {
    color: var(--accent-color)
}

/*-------page-heder------*/
.page-heder {
    padding-top: 24px;
    padding-bottom: 25px;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    outline: 1px solid red;


}

/*----------------main----------------------*/

/*------hero---------*/

.hero {
    background-color: #2F303A;
}


.hero-title-container {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.hero-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    min-width: 696px;
    margin-bottom: 30px;
}

.hero-button {
    color: #FFFFFF;
    background-color: #2196F3;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    min-width: 216px;
}

.hero-button:hover {
    background-color: #188CE8;
}


/*------section------*/
.section-padding {
    padding-top: var(--section-padding-gap);
}

.btn {
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    font-family: inherit;
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
    color: var(--white);
}

.text {
    color: var(--secendery-text-color);
}

.pretitle {
    color: var(--primery-text-color);
    margin-bottom: var(--title-margin-bottom)
}

.benefits-list {
    color: var(--primery-text-color);
}

.benefits-list .title {
    color: var(--primery-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits-list .text {
    color: var(--secendery-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*-----------card set containewr-----*/
.section-container {
    width: 100%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    outline: 1px solid red;

}

.card-set {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-item-gap));
    margin-top: calc(-1 * var(--card-item-gap));
    outline: 1px solid red;
}

.card-set>.benefit-item {
    flex-basis: calc(100% / 4 - var(--card-item-gap));
    margin-left: var(--card-item-gap);
    margin-top: var(--card-item-gap);
    outline: 1px solid red;
}

.text-centered {
    text-align: center;
}

.card-set>.team-item {
    outline: 1px solid red;
    flex-basis: calc(100% / 4 - var(--card-item-gap));
    margin-left: var(--card-item-gap);
    margin-top: var(--card-item-gap);
}

.card-set>.work-item {
    flex-basis: calc(100% / 3 - var(--card-item-gap));
    margin-left: var(--card-item-gap);
    margin-top: var(--card-item-gap);
}

.team .list>.page-work {
    margin-top: 94px;
}


.page-team {
    background-color: #F5F4FA;
    padding-bottom: 94px;

}

.team,
.work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding: 0;
}

.team .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team .text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.project-list .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-list .text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

/*------------------footer--------------*/
.footer {
    background-color: #2F303A;
}

.footer-logo {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.footer-color {
    color: var(--accent-color);
}

.footer-address {
    color: #FFFFFF;

}

.footer-address,
footer .list {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}


.contacts-address {
    font-style: normal;
}

.footer-contact {
    color: rgba(255, 255, 255, 0.6);
}

.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);
}